<!-- Copyright (c) 2022 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy) -->

<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/login.css">
    <script src="/js/home/login.js" defer></script>
    <title>Document</title>
</head>

<body>
    <div class="login-page">
        <div class="form">
            <form class="login-form">
                <input id="userid" type="text" placeholder="user id" />
                <input id="username" type="text" placeholder="user name" />
                <input id="userpw" type="text" placeholder="password" />
                <input id="userpw-confirm" type="text" placeholder="password confirm" />
                <button id="btn-register" type="button">Sign up</button>
                <p class="message">Already registered? <a href="/login">LogIn</a></p>
            </form>
        </div>
    </div>
</body>

</html>